<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/register}" th:object="${person}">
    <label for="username"> Введите имя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">eeee</div>
    <br/>

    <label for="birthyear"> Введите год рождения: </label>
    <input type="text" th:field="*{birthyear}" id="birthyear"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthyear')}" th:errors="*{birthyear}">eee</div>
    <br/>

    <label for="password"> Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">eee</div>
    <br/>

    <input type="submit" value="Register">
</form>

</body>
</html>