
body {
    margin: 0
}

:root {
    --sidebar-line-width: 30px;
    --sidebar-line-height: 5px;
    --sidebar-lines-gap: 5px;
    --sidebar-margin: calc((var(--navbar-height) - (var(--sidebar-line-height) * 3 + var(--sidebar-lines-gap) * 2)) / 2);
    --sidebar-height: calc(var(--sidebar-lines-gap) * 3 + var(--sidebar-lines-gap) * 2);
    --animation-timing: 200ms ease-in-out;
    --foreground: #868181;
    --background: var(--foreground);
    /*--background: white;*/
    /*--default-color: #868181;*/
    --sidebar-color: #333;
    --navbar-color: #313131;
    --navbar-height: 50px;
    --logo-size: 40px;
    --logo-margin-vertical: calc((var(--navbar-height) - var(--logo-size)) / 2);
    --logi-margin-horizontal: calc((var(--logo-size) / 2) + var(--logo-margin-vertical));
}

.sidebar-menu {
    --x-width: calc(var(--sidebar-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-lines-gap);
    width: max-content;
    position: absolute;
    top: var(--sidebar-margin);
    left: var(--sidebar-margin);
    z-index: 2;
    cursor: pointer;
}
/*.sidebar-menu:has(input:checked) {*/
/*    --foreground: white;*/
/*    --background: #333;*/
/*}*/
.sidebar-menu:has(input:focus-visible)::before,
.sidebar-menu:has(input:focus-visible)::after,
.sidebar-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}
.sidebar-menu::before,
.sidebar-menu::after,
.sidebar-menu input {
    content: "";
    width: var(--sidebar-line-width);
    height: var(--sidebar-line-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}
.sidebar-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
.sidebar-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--sidebar-line-height) / -2);
}
.sidebar-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--sidebar-line-height) / 2);
}
.sidebar-menu input:checked {
    opacity: 0;
    width: 0;
}
.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: calc(var(--sidebar-height) + var(--sidebar-margin) + 1rem) 1rem 0.5rem;
    background-color: var(--sidebar-color);
    /*color: var(--background);*/
    max-width: 10rem;
    min-height: 94.1vh;
}
.sidebar-menu:has(input:checked) + .sidebar {
    translate: 0;
}

.sidebar > a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: #4d4d4d;
    margin: 10px;
}


.navbar {
    position: fixed;
    min-width: 100vw;
    height: var(--navbar-height);
    background: var(--navbar-color);
    box-shadow: 0px 1px 2px 1px black;
}


.container {
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100vw;
    height: 100vh;
}


.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    background: darkgray;
    float: right;
    margin: var(--logo-margin-vertical) var(--logi-margin-horizontal);
    border-radius: 50%;
}


.green {
    color: green;
    font-family: "Roboto Light", serif;
    font-size: 24px;
}

.in-logo {
    display: none;
    position: fixed;
    top: calc(var(--navbar-height) + 5px);
    right: 2px;
    width: 80px;
    height: 100px;
    background: rgb(128,128,128);
    border-radius: 5px;
}
#toggle-in-logo:checked ~ .in-logo {
    display: block;
}
.in-logo > * {
    display: flex;
    color: white;
    justify-content: center;
}
