
:root {
    --sidebar-color-light:          white;
    --sidebar-button-color-light:   grey;
    --navbar-color-light:           white;
    --navbar-items-color-light:     #8080809c;
    --in-logo-droplist-color-light: lightgrey;
    --auth-color-light:             white;

    --sidebar-color-dark:          #333;
    --sidebar-button-color-dark:   #868181;
    --navbar-color-dark:           #313131;
    --navbar-items-color-dark:     #4d4d4d;
    --in-logo-droplist-color-dark: #808080;
    --auth-color-dark:             #36363b;

    --sidebar-color:          var(--sidebar-color-dark);
    --sidebar-button-color:   var(--sidebar-button-color-dark);
    --navbar-color:           var(--navbar-color-dark);
    --navbar-items-color:     var(--navbar-items-color-dark);
    --in-logo-droplist-color: var(--in-logo-droplist-color-dark);
    --auth-color:             var(--auth-color-dark);

    --auth-border: 1px solid #70777b;

    --sidebar-line-width: 30px;
    --sidebar-line-height: 5px;
    --sidebar-lines-gap: 5px;
    --sidebar-margin: calc((var(--navbar-height) - (var(--sidebar-line-height) * 3 + var(--sidebar-lines-gap) * 2)) / 2);
    --sidebar-height: calc(var(--sidebar-lines-gap) * 3 + var(--sidebar-lines-gap) * 2);
    --sidebar-open-line-width: calc(var(--sidebar-height) * 1.41421356237);
    --sidebar-darkening-opacity: 0.5;

    --sidebar-animation-timing: 200ms ease-out;
    --color-mode-toggle-animation-timing: 300ms linear;

    --navbar-height: 50px;
    --logo-size: 38px;
    --logo-margin-vertical: calc((var(--navbar-height) - var(--logo-size)) / 2);
    --logo-margin-horizontal: var(--logo-margin-vertical);
}

body {
    margin: 0;
}

* {
    transition: background var(--color-mode-toggle-animation-timing);
}

.sidebar-toggle {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-lines-gap);
    width: max-content;
    position: absolute;
    top: var(--sidebar-margin);
    left: var(--sidebar-margin);
    z-index: 3;
    cursor: pointer;
}

.sidebar-toggle:has(input:focus-visible)::before,
.sidebar-toggle:has(input:focus-visible)::after,
.sidebar-toggle input:focus-visible {
    border: 1px solid var(--sidebar-button-color);
    box-shadow: 0 0 0 1px var(--sidebar-button-color);
}

.sidebar-toggle::before,
.sidebar-toggle::after,
.sidebar-toggle input {
    content: "";
    width: var(--sidebar-line-width);
    height: var(--sidebar-line-height);
    background-color: var(--sidebar-button-color);
    border-radius: var(--sidebar-line-height);
    transform-origin: left center;
    transition: opacity var(--sidebar-animation-timing), width var(--sidebar-animation-timing),
    rotate var(--sidebar-animation-timing), translate var(--sidebar-animation-timing),
    background-color var(--sidebar-animation-timing);
}

.sidebar-toggle input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.sidebar {
    position: fixed;
    z-index: 2;
    transition: translate var(--sidebar-animation-timing), background var(--color-mode-toggle-animation-timing);
    translate: -100%;
    padding: calc(var(--sidebar-height) + var(--sidebar-margin) + 1rem) 1rem 0.5rem;
    background-color: var(--sidebar-color);
    width: 180px;
    height: 100vh;
}

.sidebar > a {
    font-size: 40px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: var(--navbar-items-color);
    margin: 10px;
}

.sidebar-darkening-background {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;

    background: black;
    opacity: 0;

    transition: opacity var(--sidebar-animation-timing);
    visibility: hidden;
}

.sidebar-toggle:has(input:checked) ~ .sidebar {
    translate: 0%;
}

.sidebar-toggle:has(input:checked) ~ .sidebar-darkening-background {
    visibility: visible;
    opacity: var(--sidebar-darkening-opacity);
}

.sidebar-darkening-background:active ~ .sidebar {
    /* ... */
}


.navbar {
    min-width: 100vw;
    height: var(--navbar-height);
    background: var(--navbar-color);
    box-shadow: 0px 1px 2px 1px black;
}


.container {
    overflow: auto;
    max-height: calc(100vh - var(--sidebar-height) * 2);
    overflow-wrap: break-word;
}


.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    background: darkgray;
    float: right;
    margin: var(--logo-margin-vertical) var(--logo-margin-horizontal);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.big-logo {
    display: inline-block;
    width: calc(var(--logo-size) * 3);
    height: calc(var(--logo-size) * 3);
    margin: var(--logo-margin-vertical) var(--logo-margin-horizontal);
    border-radius: 50%;
    overflow: hidden;
}


.name {
    font-size: 44px;
    margin: 30px 0;
    display: inline-block;
    transition: transform 1s;
}
.name:hover {
    transform: scale(1.5);
}


.in-logo-droplist {
    overflow: hidden;
    transition: height var(--sidebar-animation-timing),
                background var(--color-mode-toggle-animation-timing);
    position: fixed;
    top: calc(var(--navbar-height));
    right: 2px;
    width: 80px;
    background: var(--in-logo-droplist-color);
    border-radius: 5px;
}
#toggle-in-logo-droplist:checked ~ .in-logo-droplist {
    height: 100px;
}
#toggle-in-logo-droplist:not(:checked) ~ .in-logo-droplist {
    height: 0;
}
.in-logo-droplist * {
    display: flex;
    justify-content: center;
    color: white;
}


.auth-page {
    background: #252525;
}

.auth {
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-60%) scale(2);
    padding: 20px;
    color: white;
    background: var(--auth-color);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.auth > form > label,
.auth > form > input {
    margin: 2px;
    font-size: 0.9em;
    display: block;
}

.auth > form > input[type="text"],
.auth > form > input[type="password"] {
    background: var(--auth-color);
    border: var(--auth-border);
    border-radius: 3px
}

.auth > form > input[type="submit"] {
    background: var(--auth-color);
    color: white;
    border: var(--auth-border);
    border-radius: 3px;
    padding: 2px 6px;
    cursor: pointer;
}

.auth input[type="submit"],
.auth a {
    display: block;
    margin: 10px auto;
    width: fit-content;
}

.auth a {
    color: white;
}

.auth-error {
    color: red;
    font-size: 0.8em;
    margin: 0px 2px;
}


.color-mode-toggle {
    width: var(--logo-size);
    height: var(--logo-size);
    background: var(--navbar-color);
    float: right;
    margin: var(--logo-margin-vertical) 0;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
