<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="styles.css"/>
    <script src="js/color-mode-toggle.js"></script>
</head>

<body>

    <div th:insert="~{components/sidebar}"></div>
    <div th:insert="~{components/navbar}"></div>

    <div class="content">
        <p style="margin-left:50px; font-size: 44px">Hello <span class="name" th:text="${name}"></span></p>
    </div>

</body>
</html>