<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="styles.css"/>
</head>

<body>
    <div th:insert="~{components/sidebar}"></div>
    <div th:insert="~{components/navbar}"></div>

    <div class="container">
        <div>
            <label class="big-logo" id="big-logo" th:style="${'background: ' + #authentication.getPrincipal().getPerson().getColor()}">
                <img src="images/profile_icon.svg">
            </label>
            <span th:text="${#authentication.getPrincipal().getPerson().getUsername()}" style="font-size: 30px; vertical-align: top"></span>
        </div>
        <form action="/changeColor" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="color-input">Change color:</label>
            <input type="color" id="color-input" name="color" required  th:value="${#authentication.getPrincipal().getPerson().getColor()}">
            <button type="submit">Ok</button>
        </form>
        <p th:if="${error != null}" style="color:red" th:text="${error}"></p>
    </div>

    <script>
        const bigLogo = document.getElementById('big-logo');

        document.getElementById('color-input').addEventListener('input', function(event) {
            var color = event.target.value;
            bigLogo.style.backgroundColor = color;
        });
    </script>
</body>
</html>